.wrapper {
    flex-direction: row;
    margin-bottom: 10px;
}

.foodCard {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 25rem;
    height: 12rem;
}

.foodCard .body {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.foodCard .text {
    display: flex;
    flex-direction: column;
}

.foodCard .image {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}

.foodCard .title {
    font-family: Poppins-Medium, sans-serif;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0rem;
}

.foodCard .description {
    font-family: Poppins-Medium, sans-serif;
    color: rgb(104, 103, 103);
    font-size: 0.9rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.foodCard .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    width: 12rem;
}

.foodCard .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foodCard .price {
    font-size: 1.5rem;
    font-family: Poppins-Medium;
}

.foodCard .button {
    height: 3rem;
    width: 3rem;
}