
body {
    font-family: Poppins, sans-serif;
    margin: 2rem;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card .image {
    object-fit: cover;
}

.card .title {
    color: black;
    padding: 0 1rem;
    font-size: 2rem;
}

.card .description {
    padding: 0 1rem;
    font-size: 1rem;
}

.card .button {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .button:hover {
    background: #d50000;
    color: white;
}




