.pricerow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
 }

 .summarycard {
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
   width: 90%;
   box-shadow: 0 2px 20px #e1e5ee;
   margin-bottom: 1rem;
   padding: 1rem;
 }

 .summaryrow {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   width: 95%;
 }

 .deliverydetails {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 95%;
   margin-top: 1rem;
 }

 .payment {
   display: flex;
   flex-direction: column;
   background-color: #eaecf1;
   box-shadow: 0 2px 20px #e1e5ee;
   border-radius: 0.5rem;
   width: 35%;
   height: 20rem;
   margin-top: 2rem;
   padding: 1.5rem;
   justify-content: space-between;

 }

 .ordersummarybody {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 90%;
 }

 .cardtitle {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    font-family: Poppins;
    font-size: 25px;
 }

 .cardsubtitle {
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 90%;
   font-family: Poppins-Medium;
   font-size: 20px;
   margin-bottom: 0;
}

.cardsubtitle2 {
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 90%;
   font-family: Poppins;
   font-size: 20px;
   
}

.cardsubsubtitle {
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 90%;
   font-family: Poppins-Medium;
   font-size: 16px;
   margin-bottom: 0;
   margin-top: 1rem;
   color: #989898;
}

.cardsubsubtitle2 {
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 90%;
   font-family: Poppins-Medium;
   font-size: 15px;
   margin-bottom: 0;
   color: #555555;
}

.subtotalprice {
   flex-direction: row;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 90%;
   font-family: Poppins;
   font-size: 15px;
   margin-bottom: 0;
   color: #242424;
}

.subtotalprice {
   flex-direction: row;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 90%;
   font-family: Poppins;
   font-size: 15px;
   margin-bottom: 0;
   color: #242424;
}

 .section {
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   text-align: center;
   width: 90%;
   font-family: Poppins;
   font-size: 20px;
   margin-top: 2rem;
}

.note {
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   font-family: Poppins;
   font-size: 18px;
}

.totalprice {
   flex-direction: row;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   width: 90%;
   font-family: Poppins;
   font-size: 18px;
   margin-top: 0;
}

 .counter {
    font-family: Poppins;
    font-size: 16px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-left: 30px;
 }

 .cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Medium;
 }

 .options {
    margin-top: 1rem;
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
 }

.itemcard {
   overflow: hidden;
   box-shadow: 0 2px 20px #e1e5ee;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   cursor: pointer;
   transition: transform 200ms ease-in;
   margin-top: 0.5rem;
   margin-bottom: 5px;
   width: 90%;
   height: 7rem;
}

.itemcard .body {
   display: flex;
   flex-direction: row;
   margin: 1rem;
   width: 100%;
}

.itemcard .itemtext {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.itemcard .image {
   object-fit: cover;
   width: 5rem;
   height: 5rem;
   border-radius: 5px;
}

.itemcard .title {
   font-family: Poppins-Medium, sans-serif;
   color: black;
   font-size: 1.2rem;
   margin-bottom: 0rem;
}

.itemcard .details {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 1rem;
   width: 100%;
}

.itemcard .footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.itemcard .price {
   font-size: 1.2rem;
   font-family: Poppins-Medium;
}