.sectionrow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
 }

 .cuisinegallery {
   align-content: space-between;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 100%;
}

.gallery {
   align-content: space-between;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 100%;
}

/* .gallery::after {
   content: "";
   flex: auto;
 } */

 .column {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   margin-top: 20px;
   width: 100%;
}
 
 .accenttext {
    color: #346EBE;
    font-size: 16px;
    font-family: Poppins-Medium;
    margin-bottom: 0;
 }
 
 .accenttext:hover {
    transition: all 0.1s ease-in-out;
    color: #010606;
 }

 .orderItemCard {
    background-color: #fff;
    color: #555555;
    font-family: Poppins;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 28em;
    height: 13em;
    padding: 1.5rem;
 }

.orderItemCardRow {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}